In [1]:
import sys
import os
from dotenv import load_dotenv

In [2]:
#sys.path.append(os.path.abspath('../scripts'))
from scripts.extract import extract_from__api, extract_from__rdbms
from scripts.load import load_to__biquery, load_to__rdbms, load_to__bucket

In [3]:
load_dotenv()

True

In [4]:
ENV = 'DEV'
extract_from__rdbms(
    db_type='postgresql',
    connection_info = {
        'user' : os.getenv(f'AIRFLOW_{ENV}_USER')
        , 'password' : os.getenv(f'AIRFLOW_{ENV}_PASSWORD')
        , 'host' : os.getenv(f'AIRFLOW_{ENV}_HOST')
        , 'port' : int(os.getenv('AIRFLOW_PORT'))
        , 'database' : os.getenv(f'AIRFLOW_{ENV}_NAME')
        , 'table_name' : 'dag'
    }
)

,dag_id,root_dag_id,is_paused,is_subdag,is_active,last_parsed_time,last_pickled,last_expired,scheduler_lock,pickle_id,...,dataset_expression,max_active_tasks,max_active_runs,max_consecutive_failed_dag_runs,has_task_concurrency_limits,has_import_errors,next_dagrun,next_dagrun_data_interval_start,next_dagrun_data_interval_end,next_dagrun_create_after
0,clear_subdag_test_dag,None,True,False,True,2025-10-24 14:37:01.634656+00:00,None,None,None,None,...,None,8,1,0,False,False,2025-10-23 00:00:00+00:00,2025-10-23 00:00:00+00:00,2025-10-24 00:00:00+00:00,2025-10-24 00:00:00+00:00
1,test_etl_package_dag,None,False,False,True,2025-10-24 14:37:12.118024+00:00,None,None,None,None,...,None,16,16,0,False,False,2025-10-24 00:00:00+00:00,2025-10-24 00:00:00+00:00,2025-10-25 00:00:00+00:00,2025-10-25 00:00:00+00:00
2,simple_etl_pipeline,None,True,False,True,2025-10-24 14:37:12.992076+00:00,None,None,None,None,...,None,16,16,0,False,False,2025-10-23 00:00:00+00:00,2025-10-23 00:00:00+00:00,2025-10-24 00:00:00+00:00,2025-10-24 00:00:00+00:00
3,advanced_etl_pipeline,None,True,False,True,2025-10-24 14:37:14.609671+00:00,None,None,None,None,...,None,16,16,0,False,False,2025-10-24 06:00:00+00:00,2025-10-24 06:00:00+00:00,2025-10-24 12:00:00+00:00,2025-10-24 12:00:00+00:00

In [5]:
load_dotenv()
ENV = 'DEV'
extract_from__rdbms(
    db_type='mysql',
    connection_info = {
        'user' : os.getenv(f'DORIS_{ENV}_USER')
        , 'password' : os.getenv(f'DORIS_{ENV}_PASSWORD')
        , 'host' : os.getenv(f'DORIS_{ENV}_HOST')
        , 'port' : int(os.getenv('DORIS_PORT'))
        , 'database' : os.getenv(f'DORIS_{ENV}_NAME')
        , 'table_name' : 'model_has_roles'
    }
)

     role_id model_type  model_id
0          2   App\User         4
1          2   App\User        35
2          2   App\User        68
3          2   App\User        86
4          2   App\User        94
..       ...        ...       ...
467        3   App\User      9555
468        3   App\User      9596
469        3   App\User      9641
470        3   App\User      9779
471        3   App\User      9781

[472 rows x 3 columns]

In [6]:
ENV = 'DEV'
extract_from__rdbms(
    db_type='mysql',
    connection_info = {
        'user' : os.getenv(f'DB_{ENV}_USER')
        , 'password' : os.getenv(f'DB_{ENV}_PASSWORD')
        , 'host' : os.getenv(f'DB_{ENV}_HOST')
        , 'port' : int(os.getenv(f'DB_PORT'))
        , 'database' : os.getenv(f'DB_{ENV}_NAME')
        , 'table_name' : 'roles'
    }
)

    id                 name guard_name          created_at          updated_at
0    1                Admin        web 2020-06-30 12:49:04 2020-06-30 12:49:04
1    2         Delivery Guy        web 2020-06-30 12:49:04 2020-06-30 12:49:04
2    3          Store Owner        web 2020-06-30 12:49:04 2020-06-30 12:49:04
3    4             Customer        web 2020-06-30 12:49:04 2020-06-30 12:49:04
4    5         Manager COMM        web 2022-05-15 05:19:39 2024-02-20 10:32:19
5    6             Designer        web 2022-05-15 05:23:40 2024-04-30 19:31:57
6    7            Trésorier        web 2022-05-15 05:25:59 2022-05-15 05:25:59
7    8  Support Fonctionnel        web 2022-06-16 08:38:46 2023-04-22 13:34:03
8    9                COMEX        web 2022-08-13 10:31:49 2022-08-13 10:31:49
9   10        Super Manager        web 2023-04-22 13:24:11 2023-04-22 13:24:11
10  11    Manager Operation        web 2023-11-16 18:57:07 2024-02-20 10:33:01
11  12   Support Production        web 2024-02-20 10:17:56 2024-02-20 10:17:56
12  13            Comptable        web 2024-03-30 12:36:27 2024-03-30 12:36:27

In [7]:
ENV = 'PROD'
extract_from__rdbms(
    db_type='mysql',
    connection_info = {
        'user' : os.getenv(f'DB_{ENV}_USER')
        , 'password' : os.getenv(f'DB_{ENV}_PASSWORD')
        , 'host' : os.getenv(f'DB_{ENV}_HOST')
        , 'port' : int(os.getenv(f'DB_PORT'))
        , 'database' : os.getenv(f'DB_{ENV}_NAME')
        , 'table_name' : 'roles'
    }
)

    id                 name guard_name          created_at          updated_at
0    1                Admin        web 2020-06-30 12:49:04 2020-06-30 12:49:04
1    2         Delivery Guy        web 2020-06-30 12:49:04 2020-06-30 12:49:04
2    3          Store Owner        web 2020-06-30 12:49:04 2020-06-30 12:49:04
3    4             Customer        web 2020-06-30 12:49:04 2020-06-30 12:49:04
4    5         Manager COMM        web 2022-05-15 05:19:39 2024-02-20 10:32:19
5    6             Designer        web 2022-05-15 05:23:40 2024-04-30 19:31:57
6    7            Trésorier        web 2022-05-15 05:25:59 2022-05-15 05:25:59
7    8  Support Fonctionnel        web 2022-06-16 08:38:46 2023-04-22 13:34:03
8    9                COMEX        web 2022-08-13 10:31:49 2022-08-13 10:31:49
9   10        Super Manager        web 2023-04-22 13:24:11 2023-04-22 13:24:11
10  11    Manager Operation        web 2023-11-16 18:57:07 2024-02-20 10:33:01
11  12   Support Production        web 2024-02-20 10:17:56 2024-02-20 10:17:56
12  13            Comptable        web 2024-03-30 12:36:27 2024-03-30 12:36:27
13  14          Manager Res        web 2024-06-05 18:17:13 2024-06-05 18:17:13

In [7]:
df = extract_from__api(
    url="https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-09.parquet",
    data_format="parquet"
).to_pandas()

In [8]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2024-09-01 00:05:51,2024-09-01 00:45:03,1.0,9.80,1.0,N,138,48,1,47.8,10.25,0.5,13.30,6.94,1.0,79.79,2.5,1.75
1,1,2024-09-01 00:59:35,2024-09-01 01:03:43,1.0,0.50,1.0,N,140,141,1,5.1,3.50,0.5,3.00,0.00,1.0,13.10,2.5,0.00
2,2,2024-09-01 00:25:00,2024-09-01 00:34:37,2.0,2.29,1.0,N,238,152,2,13.5,1.00,0.5,0.00,0.00,1.0,16.00,0.0,0.00
3,2,2024-09-01 00:31:00,2024-09-01 00:46:52,1.0,5.20,1.0,N,93,130,1,24.7,1.00,0.5,4.55,0.00,1.0,31.75,0.0,0.00
4,2,2024-09-01 00:11:57,2024-09-01 00:30:41,2.0,2.26,1.0,N,79,231,1,17.0,1.00,0.5,4.40,0.00,1.0,26.40,2.5,0.00

In [10]:
from etl_package.extract import extract_from_api, extract_from_minio, extract_from_rdbms

In [14]:
df = extract_from_api(
    url="https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-09.parquet",
    data_format="parquet"
).to_pandas()

In [15]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2024-09-01 00:05:51,2024-09-01 00:45:03,1.0,9.80,1.0,N,138,48,1,47.8,10.25,0.5,13.30,6.94,1.0,79.79,2.5,1.75
1,1,2024-09-01 00:59:35,2024-09-01 01:03:43,1.0,0.50,1.0,N,140,141,1,5.1,3.50,0.5,3.00,0.00,1.0,13.10,2.5,0.00
2,2,2024-09-01 00:25:00,2024-09-01 00:34:37,2.0,2.29,1.0,N,238,152,2,13.5,1.00,0.5,0.00,0.00,1.0,16.00,0.0,0.00
3,2,2024-09-01 00:31:00,2024-09-01 00:46:52,1.0,5.20,1.0,N,93,130,1,24.7,1.00,0.5,4.55,0.00,1.0,31.75,0.0,0.00
4,2,2024-09-01 00:11:57,2024-09-01 00:30:41,2.0,2.26,1.0,N,79,231,1,17.0,1.00,0.5,4.40,0.00,1.0,26.40,2.5,0.00

In [11]:
load_dotenv()
ENV = 'DEV'
df = extract_from_rdbms(
    db_type='mysql',
    connection_info = {
        'user' : os.getenv(f'DORIS_{ENV}_USER')
        , 'password' : os.getenv(f'DORIS_{ENV}_PASSWORD')
        , 'host' : os.getenv(f'DORIS_{ENV}_HOST')
        , 'port' : int(os.getenv('DORIS_PORT'))
        , 'database' : os.getenv(f'DORIS_{ENV}_NAME')
        , 'table_name' : 'model_has_roles'
    },
    table_name = 'model_has_roles'
)

In [12]:
df.head()

   role_id model_type  model_id
0        1   App\User         1
1        3   App\User         6
2        3   App\User         7
3        3   App\User         8
4        3   App\User        18

In [29]:
df.to_csv('model_has_roles.csv', index=False)

In [ ]:
df.to_json('model_has_roles.json', orient= , lines=True)

In [17]:
from datetime import datetime, timedelta

In [19]:
timedelta(minutes=5)

datetime.timedelta(seconds=300)