In [1]:
import sys
import os
from dotenv import load_dotenv

In [2]:
sys.path.append(os.path.abspath('../scripts'))

In [3]:
from extract import extract_from__api, extract_from__rdbms
from load import load_to__biquery, load_to__rdbms, load_to__bucket

In [4]:
load_dotenv()

True

In [5]:
ENV = 'DEV'
extract_from__rdbms(
    db_type='postgresql',
    connection_info = {
        'user' : os.getenv(f'AIRFLOW_{ENV}_USER')
        , 'password' : os.getenv(f'AIRFLOW_{ENV}_PASSWORD')
        , 'host' : os.getenv(f'AIRFLOW_{ENV}_HOST')
        , 'port' : int(os.getenv('AIRFLOW_PORT'))
        , 'database' : os.getenv(f'AIRFLOW_{ENV}_NAME')
        , 'table_name' : 'dag'
    }
)

,dag_id,root_dag_id,is_paused,is_subdag,is_active,last_parsed_time,last_pickled,last_expired,scheduler_lock,pickle_id,...,dataset_expression,max_active_tasks,max_active_runs,max_consecutive_failed_dag_runs,has_task_concurrency_limits,has_import_errors,next_dagrun,next_dagrun_data_interval_start,next_dagrun_data_interval_end,next_dagrun_create_after
0,clear_subdag_test_dag,None,False,False,True,2025-09-26 23:02:40.078102+00:00,None,None,None,None,...,None,8,1,0,False,False,2025-09-26 00:00:00+00:00,2025-09-26 00:00:00+00:00,2025-09-27 00:00:00+00:00,2025-09-27 00:00:00+00:00

In [6]:
load_dotenv()
ENV = 'DEV'
extract_from__rdbms(
    db_type='mysql',
    connection_info = {
        'user' : os.getenv(f'DORIS_{ENV}_USER')
        , 'password' : os.getenv(f'DORIS_{ENV}_PASSWORD')
        , 'host' : os.getenv(f'DORIS_{ENV}_HOST')
        , 'port' : int(os.getenv('DORIS_PORT'))
        , 'database' : os.getenv(f'DORIS_{ENV}_NAME')
        , 'table_name' : 'model_has_roles'
    }
)

     role_id model_type  model_id
0          2   App\User         4
1          2   App\User        35
2          2   App\User        68
3          2   App\User        86
4          2   App\User        94
..       ...        ...       ...
467        3   App\User      9555
468        3   App\User      9596
469        3   App\User      9641
470        3   App\User      9779
471        3   App\User      9781

[472 rows x 3 columns]

In [8]:
ENV = 'DEV'
extract_from__rdbms(
    db_type='mysql',
    connection_info = {
        'user' : os.getenv(f'DB_{ENV}_USER')
        , 'password' : os.getenv(f'DB_{ENV}_PASSWORD')
        , 'host' : os.getenv(f'DB_{ENV}_HOST')
        , 'port' : int(os.getenv(f'DB_PORT'))
        , 'database' : os.getenv(f'DB_{ENV}_NAME')
        , 'table_name' : 'roles'
    }
)

    id                 name guard_name          created_at          updated_at
0    1                Admin        web 2020-06-30 12:49:04 2020-06-30 12:49:04
1    2         Delivery Guy        web 2020-06-30 12:49:04 2020-06-30 12:49:04
2    3          Store Owner        web 2020-06-30 12:49:04 2020-06-30 12:49:04
3    4             Customer        web 2020-06-30 12:49:04 2020-06-30 12:49:04
4    5         Manager COMM        web 2022-05-15 05:19:39 2024-02-20 10:32:19
5    6             Designer        web 2022-05-15 05:23:40 2024-04-30 19:31:57
6    7            Trésorier        web 2022-05-15 05:25:59 2022-05-15 05:25:59
7    8  Support Fonctionnel        web 2022-06-16 08:38:46 2023-04-22 13:34:03
8    9                COMEX        web 2022-08-13 10:31:49 2022-08-13 10:31:49
9   10        Super Manager        web 2023-04-22 13:24:11 2023-04-22 13:24:11
10  11    Manager Operation        web 2023-11-16 18:57:07 2024-02-20 10:33:01
11  12   Support Production        web 2024-02-20 10:17:56 2024-02-20 10:17:56
12  13            Comptable        web 2024-03-30 12:36:27 2024-03-30 12:36:27