In [ ]:
import os
from dotenv import load_dotenv
#sys.path.append(os.path.abspath('../scripts'))
from scripts.extract import extract_from__api, extract_from__rdbms
from scripts.load import load_to__biquery, load_to__rdbms, load_to__bucket
from etl_package.extract import extract_from_api, extract_from_minio, extract_from_rdbms

ImportError: cannot import name 'apply_defaults' from 'airflow.utils.decorators' (unknown location)

In [5]:
load_dotenv()

True

In [4]:
ENV = 'DEV'
extract_from__rdbms(
    db_type='postgresql',
    connection_info = {
        'user' : os.getenv(f'AIRFLOW_{ENV}_USER')
        , 'password' : os.getenv(f'AIRFLOW_{ENV}_PASSWORD')
        , 'host' : os.getenv(f'AIRFLOW_{ENV}_HOST')
        , 'port' : int(os.getenv('AIRFLOW_PORT'))
        , 'database' : os.getenv(f'AIRFLOW_{ENV}_NAME')
        , 'table_name' : 'dag'
    }
)

,dag_id,root_dag_id,is_paused,is_subdag,is_active,last_parsed_time,last_pickled,last_expired,scheduler_lock,pickle_id,...,dataset_expression,max_active_tasks,max_active_runs,max_consecutive_failed_dag_runs,has_task_concurrency_limits,has_import_errors,next_dagrun,next_dagrun_data_interval_start,next_dagrun_data_interval_end,next_dagrun_create_after
0,test_etl_package_dag,None,True,False,True,2025-11-13 18:15:57.771925+00:00,None,None,None,None,...,None,16,16,0,False,False,2025-11-12 00:00:00+00:00,2025-11-12 00:00:00+00:00,2025-11-13 00:00:00+00:00,2025-11-13 00:00:00+00:00
1,advanced_etl_pipeline,None,True,False,True,2025-11-13 18:15:58.135915+00:00,None,None,None,None,...,None,16,16,0,False,False,2025-11-13 12:00:00+00:00,2025-11-13 12:00:00+00:00,2025-11-13 18:00:00+00:00,2025-11-13 18:00:00+00:00
2,debug_versions,None,True,False,True,2025-11-13 18:15:58.227318+00:00,None,None,None,None,...,None,16,16,0,False,False,NaT,NaT,NaT,NaT
3,clear_subdag_test_dag,None,True,False,True,2025-11-13 18:15:58.546403+00:00,None,None,None,None,...,None,8,1,0,False,False,2025-11-12 00:00:00+00:00,2025-11-12 00:00:00+00:00,2025-11-13 00:00:00+00:00,2025-11-13 00:00:00+00:00
4,livrina_dev__extract_load,None,False,False,False,2025-11-13 18:09:49.057702+00:00,None,None,None,None,...,None,3,1,0,False,True,2025-11-12 23:00:00+00:00,2025-11-12 23:00:00+00:00,2025-11-13 23:00:00+00:00,2025-11-13 23:00:00+00:00
5,simple_etl_pipeline,None,True,False,True,2025-11-13 18:16:03.733070+00:00,None,None,None,None,...,None,16,16,0,False,False,2025-11-12 00:00:00+00:00,2025-11-12 00:00:00+00:00,2025-11-13 00:00:00+00:00,2025-11-13 00:00:00+00:00

In [6]:
load_dotenv()
ENV = 'DEV'
extract_from__rdbms(
    db_type='mysql',
    connection_info = {
        'user' : os.getenv(f'DORIS_{ENV}_USER')
        , 'password' : os.getenv(f'DORIS_{ENV}_PASSWORD')
        , 'host' : os.getenv(f'DORIS_{ENV}_HOST')
        , 'port' : int(os.getenv('DORIS_PORT'))
        , 'database' : os.getenv(f'DORIS_{ENV}_NAME')
        , 'table_name' : 'user_logs'
    }
)

Empty DataFrame
Columns: [user_id, action, timestamp, details]
Index: []

In [7]:
ENV = 'DEV'
extract_from__rdbms(
    db_type='mysql',
    connection_info = {
        'user' : os.getenv(f'DB_{ENV}_USER')
        , 'password' : os.getenv(f'DB_{ENV}_PASSWORD')
        , 'host' : os.getenv(f'DB_{ENV}_HOST')
        , 'port' : int(os.getenv(f'DB_PORT'))
        , 'database' : os.getenv(f'DB_{ENV}_NAME')
        , 'table_name' : 'model_has_roles'
    }
)

       role_id model_type  model_id
0            1   App\User         1
1            2   App\User         4
2            2   App\User        35
3            2   App\User        68
4            2   App\User        86
...        ...        ...       ...
18309       11   App\User     13540
18310       12   App\User      3736
18311       13   App\User     17594
18312        4   App\User         0
18313        4   App\User         1

[18314 rows x 3 columns]

In [8]:
ENV = 'PROD'
extract_from__rdbms(
    db_type='mysql',
    connection_info = {
        'user' : os.getenv(f'DB_{ENV}_USER')
        , 'password' : os.getenv(f'DB_{ENV}_PASSWORD')
        , 'host' : os.getenv(f'DB_{ENV}_HOST')
        , 'port' : int(os.getenv(f'DB_PORT'))
        , 'database' : os.getenv(f'DB_{ENV}_NAME')
        , 'table_name' : 'roles'
    }
)

    id                 name guard_name          created_at          updated_at
0    1                Admin        web 2020-06-30 12:49:04 2020-06-30 12:49:04
1    2         Delivery Guy        web 2020-06-30 12:49:04 2020-06-30 12:49:04
2    3          Store Owner        web 2020-06-30 12:49:04 2020-06-30 12:49:04
3    4             Customer        web 2020-06-30 12:49:04 2020-06-30 12:49:04
4    5         Manager COMM        web 2022-05-15 05:19:39 2024-02-20 10:32:19
5    6             Designer        web 2022-05-15 05:23:40 2024-04-30 19:31:57
6    7            Trésorier        web 2022-05-15 05:25:59 2022-05-15 05:25:59
7    8  Support Fonctionnel        web 2022-06-16 08:38:46 2023-04-22 13:34:03
8    9                COMEX        web 2022-08-13 10:31:49 2022-08-13 10:31:49
9   10        Super Manager        web 2023-04-22 13:24:11 2023-04-22 13:24:11
10  11    Manager Operation        web 2023-11-16 18:57:07 2024-02-20 10:33:01
11  12   Support Production        web 2024-02-20 10:17:56 2024-02-20 10:17:56
12  13            Comptable        web 2024-03-30 12:36:27 2024-03-30 12:36:27
13  14          Manager Res        web 2024-06-05 18:17:13 2024-06-05 18:17:13

In [9]:
df = extract_from__api(
    url="https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-09.parquet",
    data_format="parquet"
).to_pandas()
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2024-09-01 00:05:51,2024-09-01 00:45:03,1.0,9.80,1.0,N,138,48,1,47.8,10.25,0.5,13.30,6.94,1.0,79.79,2.5,1.75
1,1,2024-09-01 00:59:35,2024-09-01 01:03:43,1.0,0.50,1.0,N,140,141,1,5.1,3.50,0.5,3.00,0.00,1.0,13.10,2.5,0.00
2,2,2024-09-01 00:25:00,2024-09-01 00:34:37,2.0,2.29,1.0,N,238,152,2,13.5,1.00,0.5,0.00,0.00,1.0,16.00,0.0,0.00
3,2,2024-09-01 00:31:00,2024-09-01 00:46:52,1.0,5.20,1.0,N,93,130,1,24.7,1.00,0.5,4.55,0.00,1.0,31.75,0.0,0.00
4,2,2024-09-01 00:11:57,2024-09-01 00:30:41,2.0,2.26,1.0,N,79,231,1,17.0,1.00,0.5,4.40,0.00,1.0,26.40,2.5,0.00

In [10]:
df = extract_from_api(
    url="https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-09.parquet",
    data_format="parquet"
).to_pandas()
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2024-09-01 00:05:51,2024-09-01 00:45:03,1.0,9.80,1.0,N,138,48,1,47.8,10.25,0.5,13.30,6.94,1.0,79.79,2.5,1.75
1,1,2024-09-01 00:59:35,2024-09-01 01:03:43,1.0,0.50,1.0,N,140,141,1,5.1,3.50,0.5,3.00,0.00,1.0,13.10,2.5,0.00
2,2,2024-09-01 00:25:00,2024-09-01 00:34:37,2.0,2.29,1.0,N,238,152,2,13.5,1.00,0.5,0.00,0.00,1.0,16.00,0.0,0.00
3,2,2024-09-01 00:31:00,2024-09-01 00:46:52,1.0,5.20,1.0,N,93,130,1,24.7,1.00,0.5,4.55,0.00,1.0,31.75,0.0,0.00
4,2,2024-09-01 00:11:57,2024-09-01 00:30:41,2.0,2.26,1.0,N,79,231,1,17.0,1.00,0.5,4.40,0.00,1.0,26.40,2.5,0.00

In [11]:
import dlt
import os
from dlt.sources.credentials import ConnectionStringCredentials
from dlt.sources.sql_database import sql_database
from dlt.destinations import filesystem
from dlt.sources.filesystem import read_jsonl, filesystem as fs_source
from dlt.common.configuration.specs import AwsCredentials
from urllib.parse import quote_plus
import sqlalchemy as sa
from sqlalchemy import create_engine
#from sqlalchemy.engine import URL
import pandas as pd

In [12]:
load_dotenv()
ENV = 'DEV'
liv_dev_pw = quote_plus(os.getenv(f"DB_{ENV}_PASSWORD"))
doris_pw = quote_plus(os.getenv(f"DORIS_{ENV}_PASSWORD"))

In [13]:
liv_dev_cred = ConnectionStringCredentials(
    f"mysql+pymysql://{os.getenv(f'DB_{ENV}_USER')}:{liv_dev_pw}@{os.getenv(f'DB_{ENV}_HOST')}:{os.getenv(f'DB_PORT')}/{os.getenv(f'DB_{ENV}_NAME')}"
)

doris_cred = ConnectionStringCredentials(
    f"mysql+pymysql://{os.getenv(f'DORIS_{ENV}_USER')}:{doris_pw}@{os.getenv(f'DORIS_{ENV}_HOST')}:{os.getenv(f'DORIS_PORT')}/{os.getenv(f'DORIS_{ENV}_NAME')}"
)

In [42]:
dlt.config["loader.chunk_size"] = 50000
dlt.config["extract.refresh_buffer_size"] = 5000
dlt.config["normalize.chunk_size"] = 50000

In [14]:
minio_cred = AwsCredentials(
    aws_access_key_id=os.getenv("MINIO_AIRFLOW_ACCESS_KEY"),
    aws_secret_access_key=os.getenv('MINIO_AIRFLOW_SECRET_KEY'),
    endpoint_url=os.getenv("MINIO_ENDPOINT")
)

In [16]:
#source = sql_database(connection).with_resources('roles', 'users')
source_db_liv_dev = sql_database(liv_dev_cred, table_names=["model_has_roles", "roles", "users"])
for table_data in source_db_liv_dev:
    df = pd.DataFrame(list(table_data))
    #print(table_data)

df.head()

                   0
0                 id
1               name
2             gender
3              email
4  email_verified_at

In [18]:
source_minio = fs_source(
    bucket_url="s3://livrina-dev-raw/to_load_doris_dataset",
    credentials=minio_cred,
    file_glob="roles/*.jsonl",
    incremental=dlt.sources.incremental(
        "modification_date",
        range_start="open"
    )
) | read_jsonl()

data = []
for table_data in source_minio:
    data.append(table_data)

df = pd.DataFrame({'data' : data})

#df['load_at'] = pd.Timestamp.now(tz='Europe/Paris')
df.head()

                                                data
0  {'id': 1, 'name': 'Admin', 'guard_name': 'web'...
1  {'id': 2, 'name': 'Delivery Guy', 'guard_name'...
2  {'id': 3, 'name': 'Store Owner', 'guard_name':...
3  {'id': 4, 'name': 'Customer', 'guard_name': 'w...
4  {'id': 5, 'name': 'Manager COMM', 'guard_name'...

In [19]:
import json
df['data'] = df['data'].apply(json.dumps)
df.head()

                                                data
0  {"id": 1, "name": "Admin", "guard_name": "web"...
1  {"id": 2, "name": "Delivery Guy", "guard_name"...
2  {"id": 3, "name": "Store Owner", "guard_name":...
3  {"id": 4, "name": "Customer", "guard_name": "w...
4  {"id": 5, "name": "Manager COMM", "guard_name"...

In [ ]:
from sqlalchemy.engine import URL
from sqlalchemy.types import String

conn = create_engine(
        URL.create(
            drivername="doris+pymysql",
            username=os.getenv(f'DORIS_{ENV}_USER'),
            password=os.getenv(f'DORIS_{ENV}_PASSWORD'),
            host=os.getenv(f'DORIS_{ENV}_HOST'),
            port=int(os.getenv('DORIS_PORT')),
            database=os.getenv(f'DORIS_{ENV}_NAME'),
        )
)

with conn.begin() as conn:
    df.to_sql(
        name='model_has_roles',
        con=conn,
        if_exists='append',
        index=False,
        dtype={'data': String}
    )

In [ ]:
from dataclasses import dataclass
from typing import Optional, Tuple
from sqlalchemy.engine import URL
from sqlalchemy.types import String
from sqlalchemy.orm import Session
from sqlalchemy import select, insert, MetaData, Table

metadata = MetaData()

@dataclass
class DltTable:
    name: str
    incremental_column: Optional[str] = None
    primary_key: Optional[Tuple[str]] = None
    dedup: bool = True
    initial_value: Optional[str] = None
    alias: Optional[str] = None

    def __post_init__(self):
        if self.alias is None:
            self.alias = self.name
TABLES = [
    DltTable(
        name="model_has_roles",
        primary_key=("role_id", "model_id", "model_type")
    ),
    DltTable(
        name="roles",
        primary_key=("id",),
        incremental_column="updated_at",
        alias="type_of_roles"
    )
]

doris_engine = create_engine(
    URL.create(
        drivername="doris+pymysql",
        username=os.getenv(f'DORIS_{ENV}_USER'),
        password=os.getenv(f'DORIS_{ENV}_PASSWORD'),
        host=os.getenv(f'DORIS_{ENV}_HOST'),
        port=int(os.getenv('DORIS_PORT')),
        database=os.getenv(f'DORIS_{ENV}_NAME'),
    ),
    pool_pre_ping=True,
    pool_recycle=3600
)

for table in TABLES:
    source = fs_source(
        bucket_url="s3://livrina-dev-raw/to_load_doris_dataset",
        credentials=minio_cred,
        file_glob=table.name + '/' + "*.jsonl",
        incremental=dlt.sources.incremental(
            "modification_date",
            range_end="open"
        )
    ) | read_jsonl()

    data = []
    for data_ in source:
        data.append(data_)
    
    df = pd.DataFrame({'data' : data})
    df['data'] = df['data'].apply(json.dumps)
    """
    df.to_sql(
        name=table.alias,
        con=doris_engine,
        if_exists='append',
        index=False,
        dtype={'data': String}
    )
    """

    table_obj = Table(
        table.alias,
        metadata,
        autoload_with=doris_engine
    )

    with Session(doris_engine) as s:
        q = insert(table_obj)
        s.execute(q, df.to_dict(orient='records'))
        s.commit()

In [35]:
import boto3
from datetime import datetime, timezone

def list_objects_modified_after(
    bucket: str,
    prefix: str,
    modified_after: datetime,
    endpoint_url: str = None,
    access_key: str = None,
    secret_key: str = None
):
    """
    Liste les objets modifiés après `modified_after` dans un bucket S3/MinIO.
    """
    s3 = boto3.client(
        "s3",
        endpoint_url=endpoint_url,
        aws_access_key_id=access_key,
        aws_secret_access_key=secret_key,
        config=boto3.session.Config(signature_version="s3v4"),
        region_name="us-east-1"
    )

    paginator = s3.get_paginator("list_objects_v2")

    results = []
    for page in paginator.paginate(Bucket=bucket, Prefix=prefix):
        for obj in page.get("Contents", []):
            if obj["LastModified"] > modified_after:
                results.append({
                    "key": obj["Key"],
                    "size": obj["Size"],
                    "last_modified": obj["LastModified"]
                })

    return results


if __name__ == "__main__":
    # Exemple d'usage

    MINIO_ENDPOINT = os.getenv('MINIO_ENDPOINT')  # Ton endpoint MinIO
    ACCESS_KEY = os.getenv('MINIO_AIRFLOW_ACCESS_KEY')                    # tes credentials
    SECRET_KEY = os.getenv('MINIO_AIRFLOW_SECRET_KEY') 

    BUCKET = "livrina-dev-raw"
    PREFIX = "to_load_doris_dataset/model_has_roles/"  # dossier cible

    # Filtrer tous les fichiers modifiés après cette date
    modified_after = datetime(2025, 1, 14, 0, 0, 0, tzinfo=timezone.utc)

    objs = list_objects_modified_after(
        bucket=BUCKET,
        prefix=PREFIX,
        modified_after=modified_after,
        endpoint_url=MINIO_ENDPOINT,
        access_key=ACCESS_KEY,
        secret_key=SECRET_KEY
    )

    print("Fichiers modifiés récemment :")
    for o in objs:
        print(o)

Fichiers modifiés récemment :
{'key': 'to_load_doris_dataset/model_has_roles/model_has_roles_8eaa3afea6_2025_11_14.jsonl', 'size': 1893592, 'last_modified': datetime.datetime(2025, 11, 14, 11, 4, 49, 469000, tzinfo=tzutc())}

In [ ]:
type(TABLES[0])

In [ ]:
pipeline = dlt.pipeline(
    pipeline_name="livrina_dev_pipeline",
    destination=dlt.destinations.sqlalchemy(
        doris_engine
    ),
    pipelines_dir="./dlt_state"
)

In [ ]:
load_info = pipeline.run(source)

In [ ]:
pipeline = dlt.pipeline(
    pipeline_name="livrina_dev_pipeline",
    destination=filesystem(
        bucket_url="s3://livrina-dev-raw",
        credentials=minio_cred,
        layout="{table_name}/{YYYY}-{MM}-{DD}/{table_name}_{file_id}.{ext}",
    ),
    pipelines_dir="./dlt_state"
)

In [ ]:
dlt.config["normalize.data_writer.disable_compression"] = True
#dlt.config["destination.mssql.credentials.driver"] = "mysql"
load_info = pipeline.run(source, loader_file_format='csv')

In [ ]:
# Test if you have CREATE TABLE permission
test_engine = sa.create_engine(
    f"mysql+pymysql://{os.getenv(f'DORIS_{ENV}_USER')}:{os.getenv(f'DORIS_{ENV}_PASSWORD')}@{os.getenv(f'DORIS_{ENV}_HOST')}:{os.getenv('DORIS_PORT')}/{os.getenv(f'DORIS_{ENV}_NAME')}"
)

with test_engine.connect() as conn:
    try:
        # Try creating a simple test table
        conn.execute(sa.text("CREATE TABLE IF NOT EXISTS test_table (id INT, name VARCHAR(50))"))
        conn.execute(sa.text("DROP TABLE test_table"))
        print("✓ CREATE TABLE permission works")
    except Exception as e:
        print(f"✗ CREATE TABLE failed: {e}")

In [ ]:
load_info

In [ ]:
import boto3

s3 = boto3.client(
    "s3",
    endpoint_url="https://minio-api.livrina-dataplateforme.com",
    aws_access_key_id="airflow",
    aws_secret_access_key="nszxbu-lbzxbl-9SBSX-BLZX89",
)

# Test 1 : accès au bucket
print("== Buckets ==")
print(s3.list_buckets())

# Test 2 : accès au dossier du pipeline
print("== Objects in livrina-dev-raw ==")
print(s3.list_objects_v2(Bucket="livrina-dev-raw", MaxKeys=5))

test_key = "_dlt_pipeline_state/test_write.txt"
try:
    s3.put_object(Bucket="livrina-dev-raw", Key=test_key, Body=b"hello from dlt test")
    print("✅ Écriture réussie !")
except Exception as e:
    print("❌ Erreur d'écriture :", e)

In [ ]:
import sqlalchemy, sqlalchemy_doris, pandas
print("SQLAlchemy:", sqlalchemy.__version__)
print("Doris Dialect:", sqlalchemy_doris.__version__)
print("Pandas:", pandas.__version__)